html body {
  height:100%;
  background-image: url(/images/image2.jpg);
  background-size: cover;
}
#about{
    /* background-image: url("./images/image2.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    /* width: 1500px;
    height: 800px; */
    padding: 50px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: x-large;
}

.home{
    background-color: black;
    opacity: 60%;
    border-radius: 5px;
}

}#mouse{
    padding-top : 20px;
    margin-top: 20px;
    padding-bottom: 20px; 
    width: 10px;
    height: 10px;
    /* animation-iteration-count: infinite; */
  }
  #mouse {
    animation: bounce 2s infinite;
  }@keyframes bounce {
    40% {
      transform: translateY(-50px);
    }
    60% {
      transform: translateY(-30px);
    }
  }

nav {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

nav ul {
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background-color:black;
  opacity: 40%;
}

nav ul li {
  display: inline-block;
  color: white;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
<<<<<<< HEAD:styles.css
  color: blac
=======
  color: black;                  
>>>>>>> 18cfe41651c79408e949c999fb72c3a48ba2d691:css/styles.css
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  text-underline-position: above;
}

img{
    width: 900px;
    height: 450px;
}



.site-footer{
  background-color:#26272b;
  opacity: 95%;
  padding:45px 0 20px;
  font-size:15px;
  color:#737373;
}

.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small{
  margin:20px 0
}

.site-footer h6{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a{
  color:#737373;
}

.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}

.footer-links{
  padding-left:0;
  list-style:none
}

.footer-links li{
  display:block
}

.footer-links a{
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li{
  display:inline-block
}

.site-footer .social-icons{
  text-align:right
}

.site-footer .social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.copyright-text{
  margin:0
}

  .site-footer [class^=col-]{
    margin-bottom:30px
  }

  .site-footer{
    padding-bottom:0
  }

  .site-footer .copyright-text,.site-footer .social-icons{
    text-align:center
  }

.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li{
  display:inline-block;
  margin-bottom:4px
}

.social-icons li.title{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
  color:#fff;
  background-color:#29aafe
}

.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover{
  background-color:#3b5998
}

.social-icons a.twitter:hover{
  background-color:#00aced
}

.social-icons a.linkedin:hover{
  background-color:#007bb6
}

.social-icons a.instagram:hover{
  background-color:#ea4c89
}

.social-icons li.title{
  display:block;
  margin-right:0;
  font-weight:600
}
